/*
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*/
.title {
	color: white;
	background-color: #33bebe;
	width: 100%;
}
.image {
	margin-left: 20px;
}
.app {
	display: flex;
	flex-flow: row-reverse nowrap;
	width: 100%;
}
body {
	max-width: 948px;
	margin: 0 auto;
}
